<h2>Product Details</h2>

<div>
    <img src="https://i.guim.co.uk/img/media/f2df6361227dad2b837df4177b06d148907e9939/0_383_5749_3450/master/5749.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=89a2f82a6ec163064bd680203e201853"
        alt="random product">
    <h3>{{blah.name}}</h3>
    <h4>{{blah.price}}</h4>
</div>